{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.username }} Profile</h1>

    <h2>RECIPES</h2>

    <div class="main_table">

        {% for recipe in user.recipes %}

            {% if recipe.public == 'PUBLIC' %}
                <div class="recipe">
                    <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                    <br>
                    <br>

                    {% for tag in recipe.tags %}

                        <span>#{{ tag.name }}</span>

                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h2>COLLECTIONS</h2>

    <div class="main_table">

        {% for collection in user.collections %}

            {% if collection.public == 'PUBLIC' %}
                <div class="collection">
                    <a href="{{ path('view_collection', { 'id': collection.id }) }}">{{ collection.title }}</a>
                </div>
            {% endif %}
        {% endfor %}

        <a href="{{ path('collection_new') }}">Create a new collection</a>

    </div>

    <h1>User Created tags</h1>

   <div class="main_form">

       <div class="tag">
        {% for tag in user.tags %}

                <span>#{{ tag.name }} </span>

        {% endfor %}

       </div>
   </div>

{% endblock %}