{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <h1>{{ user.username }} Profile</h1>

    <h2>RECIPES</h2>

    {{ dump() }}

    <div class="main_table">

        {% for recipe in user.recipes %}

            <div class="recipe">
                <a style="float: right" href="{{ path('recipe_edit', { 'id': recipe.id }) }}">Edit</a>
                <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                <br>
                <br>

                {% for tag in recipe.tags %}

                    <span>#{{ tag.name }}</span>

                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('recipe_new') }}">Create a new recipe</a>

    <h2>Shared Recipes</h2>

    <div class="main_table">

        {% for recipe in user.sharedRecipes %}

            <div class="recipe">
                <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                <a style="float: right" href="{{ path('remove_shared_recipe', { 'id': recipe.id }) }}">remove from shared </a>

            </div>
        {% endfor %}
    </div>

    <h2>COLLECTIONS</h2>

    <div class="main_table">

        {% for collection in user.collections %}

            <div class="collection">
                <a style="float: right" href="{{ path('collection_edit', { 'id': collection.id }) }}">Edit</a>
                <a href="{{ path('view_collection', { 'id': collection.id }) }}">{{ collection.title }}</a>
            </div>
        {% endfor %}

    </div>

    <a href="{{ path('collection_new') }}">Create a new collection</a>


    <h2>Shared Collections</h2>

    <div class="main_table">

        {% for collection in user.sharedCollections %}

            <div class="collection">
                <a href="{{ path('view_collection', { 'id': collection.id }) }}">{{ collection.title }}</a>

                <a style="float: right" href="{{ path('remove_shared_collection', { 'id': collection.id }) }}">remove from shared </a>

            </div>
        {% endfor %}
    </div>

    <h1>User Created tags</h1>

    <div class="main_form">

        <div class="tag">
            {% for tag in user.tags %}

                <span><a href="{{ path('tag_edit', { 'id': tag.id }) }}">{{ tag.name }}</a></span>

            {% endfor %}

        </div>
    </div>
{% endblock %}
