{% extends 'base.html.twig' %}

{% block pageTitle %}Collections{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h1>Show user collections</h1>

    <ul>
        <li><a href="/collection/create">Create new collection</a></li>
        <li>Edit collection</li>
        <li>Delete collection</li>
    </ul>

    {{ dump() }}


       <ul>

        {% for collection in collections %}
            <li><strong>{{ collection.name }}</strong> {{ collection.description }} <a href="{{ path('deleteCollection' , {name:collection.name})}}">Delete</a>
                <a href="{{ path('editCollection' , {name:collection.name})}}">Edit</a></li>
        {% endfor %}

       </ul>



{% endblock %}
