{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}


    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        HELLO ADMIN :)

    {% endif %}

    <h1>All Collections Page</h1>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td>{{ collection.title }}</td>
                <td>{{ collection.description }}</td>
                <td>{{ collection.author }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('view_collection', { 'id': collection.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ dump() }}


{% endblock %}