{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collection</h1>

    {{ dump() }}

    <div class="collection_view">

        <a style="float: right" href="{{ path('collection_edit', { 'id': collection.id }) }}">Edit</a>
        <p>Title: {{ collection.title }}</p>
        <p>Description: {{ collection.description }}</p>



    </div>

    <div class="main_table">

        <h2>Recipes in this collection</h2>

        {% for recipe in collection.recipes %}

            <div class="recipe">
                <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                <a style="float: right" href="{{ path('recipe_edit', { 'id': recipe.id }) }}">edit</a>

                <br>
                <br>

                {% for tag in recipe.tags %}

                    <span>#{{ tag.name }}</span>

                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <ul>
        <li>
            <a href="{{ path('collection_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
