{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}


    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        HELLO ADMIN :)

    {% endif %}

    <h1>View Collection Page</h1>

    <div class="collection_view">

        <p>Title: {{ collection.title }}</p>
        <p>Description: {{ collection.description }}</p>



    </div>

    <div class="main_table">

        <h2>Recipes in this collection</h2>

        {% for recipe in collection.recipes %}

            <div class="recipe">
                <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                {% for tag in recipe.tags %}

                    <span>#{{ tag.name }}</span>

                {% endfor %}
            </div>
        {% endfor %}
    </div>


    {% if options%}
        <a href="{{ path('share_collection', { 'id': collection.id }) }}">Save to your shared collections</a>
    {% else %}
        Already in your stored collections
    {% endif %}

{% endblock %}