{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recipes list</h1>

    {{ dump() }}

    <div class="main_table">

            {% for recipe in recipes %}

                <div class="recipe">
                    <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                    <a style="float: right" href="{{ path('recipe_edit', { 'id': recipe.id }) }}">edit</a>

                    <br>
                    <br>

                    {% for tag in recipe.tags %}

                        <span>#{{ tag.name }}</span>

                    {% endfor %}
                </div>
            {% endfor %}
    </div>

    <ul>
        <li>
            <a href="{{ path('recipe_new') }}">Create a new recipe</a>
        </li>
    </ul>

    <h2>Shared recipes</h2>

    <div class="main_table">

        {% for recipe in shared_recipes %}

            <div class="recipe">
                <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                <a style="float: right" href="{{ path('remove_shared_recipe', { 'id': recipe.id }) }}">remove from shared </a>

                <br>
                <br>

                {% for tag in recipe.tags %}

                    <span>#{{ tag.name }}</span>

                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
