{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}


    {% if app.user is not null %}
        {{ recipe.author.id }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        HELLO ADMIN :)

    {% endif %}

    <h1>View Recipe Page</h1>

    {{ dump() }}

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Summary</th>
            <th>Ingredients</th>
            <th>Steps</th>
            <th>Author</th>
            <th>Collection</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.summary }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.steps }}</td>
                <td>{{ recipe.author }}</td>
                <td>{{ recipe.collection }}</td>
                <td>
                    <ul>
                        {% for tag in recipe.tags %}

                            <li>{{ tag.name }} </li>

                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    {% if options%}

        {% if app.user.id != recipe.author.id %}

            <a href="{{ path('share_recipe', { 'id': recipe.id }) }}">Save to your shared recipes</a>

        {% else %}

            Already in your collection

        {% endif %}
    {% else %}

        Already in your collection

    {% endif %}


    {% for comment in recipe.comments %}

        <p>{{ comment.author }}: {{ comment.content }}</p>
        <hr>

    {% endfor %}

    <form action="comment/{{ recipe.id }}" method="POST">
        <input type="input" name="comment">
        <input type="submit" value="Submit">
    </form>


{% endblock %}