{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}


    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        HELLO ADMIN :)

    {% endif %}

    <h1>Results Page</h1>

    {{ dump() }}

    {% if type == 'User' %}
        <div class="main_table">

            {% for user in data %}

                <div class="recipe">
                    <a href="{{ path('user_profile', { 'id': user.id }) }}">{{ user.username }}</a>

                </div>
            {% endfor %}
        </div>
    {% elseif type == 'Recipe' %}
        <div class="main_table">

            {% for recipe in data %}

                <div class="recipe">
                    <a href="{{ path('view_recipe', { 'id': recipe.id }) }}">{{ recipe.title }}</a>

                    <br>
                    <br>

                    {% for tag in recipe.tags %}

                        <span>#{{ tag.name }}</span>

                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% elseif type == 'Collection' %}

        <div class="main_table">

            {% for collection in data %}

                <div class="collection">
                    <a href="{{ path('view_collection', { 'id': collection.id }) }}">{{ collection.title }}</a>

                </div>
            {% endfor %}
        </div>
    {% endif %}



{% endblock %}