{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}


    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        HELLO ADMIN :)

    {% endif %}

    <h1>Proposed Tags Page</h1>

    {{ dump() }}

        <div class="main_form">



            {% for tag in tags %}

                <div class="tag">



                {% if tag.status == 'Proposed' %}
                    <a style="float: right" href="{{ path('freeze_tag', { 'id': tag.id }) }}">Report</a><br>
                    <a style="float: right" href="{{ path('vote_tag', { 'id': tag.id }) }}">Vote for this tag</a>
                    Name: <span>#{{ tag.name }}</span><br>
                        Description: {{ tag.description }}<br>
                        Current status: {{ tag.status }}<br>
                        Current votes: {{ tag.votes }}<br>


                        {% if tag.author is null %}

                            Author: Anonymous<br>

                        {% else %}

                            Author: <a href="{{ path('user_profile', { 'id': tag.author.id }) }}">{{ tag.author }}</a><br>

                        {% endif %}



                    <hr>

                {% endif %}

                    </div>
            {% endfor %}

        </div>


    <a href="{{ path('tag_new') }}">Propose new tag</a>

    <h2>Approved tags</h2>

    <div class="main_form">



        {% for tag in tags %}

            <div class="tag">

                {% if tag.status == 'Approved' %}
                    Name: <span>#{{ tag.name }}</span><br>
                    Description: {{ tag.description }}<br>
                    Current status: {{ tag.status }}<br>
                    Current votes: {{ tag.votes }}<br>


                    {% if tag.author is null %}

                        Author: Anonymous<br>

                    {% else %}

                        Author: <a href="{{ path('user_profile', { 'id': tag.author.id }) }}">{{ tag.author }}</a><br>

                    {% endif %}



                    <hr>

                {% endif %}

            </div>
        {% endfor %}


    </div>


{% endblock %}
